<div class="container">
    <form class="text-center border border-light p-5" [formGroup]="rForm" (submit)="submit()">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
            <div>
                <!-- Level -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Level:</mat-label>
                    <mat-select formControlName="level">
                        <mat-option [value]="null">Select level..</mat-option>
                        <mat-option *ngFor="let level of eLanguageLevels | keyvalue" [value]="level.value">
                            {{level.value}}
                        </mat-option>
                        <mat-error *ngIf="rForm.get('level').errors?.required">Level is required</mat-error>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <!-- Language -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Language:</mat-label>
                    <mat-select formControlName="language">
                        <mat-option [value]="null">Select language..</mat-option>
                        <mat-option *ngFor="let language of eActivityLenguages | keyvalue" [value]="language.value">
                            {{language.value}}
                        </mat-option>
                        <mat-error *ngIf="rForm.get('language').errors?.required">Language is required</mat-error>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <!-- Date -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Title date: </mat-label>
                    <input type="text" matInput formControlName="date">
                    <mat-error *ngIf="rForm.get('date').errors?.errorFormatDate">Invalid format date</mat-error>   
                </mat-form-field>
            </div>
            <button class="btn btn-primary my-4 float-left" type="submit" [disabled]="rForm.invalid">Save</button>
        </div>

    </form>
</div>
