<div class="container">
    <form class="text-center border border-light p-5" [formGroup]="rForm" (submit)="submit()">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px" class="form-group">
            <div>
                <!-- Type -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Type:</mat-label>
                    <mat-select (selectionChange)="onChangeTypeValue()" formControlName="type">
                        <mat-option [value]="null">Select type..</mat-option>
                        <mat-option *ngFor="let type of eEducationTypes | keyvalue " [value]="type.value">
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <!-- Level -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Level:</mat-label>
                    <mat-select formControlName="level">
                        <mat-option [value]="null">Select level..</mat-option>
                        <mat-option *ngFor="let level of eLevelTypes | keyvalue" [value]="level.value">
                            {{level.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('level').errors?.required">Level is required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <!-- Name -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Name: </mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error *ngIf="rForm.get('name').errors?.required">Name is required</mat-error>
                    <mat-error
                        *ngIf="rForm.get('name').errors?.minlength || rForm.get('name').errors?.maxlength">User
                        name must be greater than 3 characters and less than 55 characters</mat-error>
                </mat-form-field>
            </div>
            <div>
                <!-- University -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>University: </mat-label>
                    <input type="text" matInput formControlName="university">
                    <mat-error
                        *ngIf="rForm.get('university').errors?.minlength || rForm.get('university').errors?.maxlength">University
                        name must be greater than 3 characters and less than 55 characters</mat-error>
                    <mat-error *ngIf="rForm.get('university').errors?.required">University is required</mat-error>    
                </mat-form-field>
            </div>
            <div>
                <!-- Finish date -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Finish date: </mat-label>
                    <input type="text" matInput formControlName="date">
                    <mat-error *ngIf="rForm.get('date').errors?.errorFormatDate">Invalid format date</mat-error>   
                </mat-form-field>
            </div>
            <button class="btn btn-primary my-4 float-left" type="submit" [disabled]="rForm.invalid">Save</button>
        </div>

    </form>
</div>