<div class="container">
    <form class="border border-light p-5" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <h5 class="float-left">PROFILE</h5>
        <br>
        <hr style="border-top: 1px solid blue;" />
        <!-- Si perfil de usuario company -->

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px" class="form-group">
            <div *ngIf="companyProfile">
                <!-- Company name -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Company Name</mat-label>
                    <input type="text" matInput formControlName="companyName" class="form-control mb-4"
                        placeholder="Company Name">
                    <mat-error *ngIf="profileForm.get('companyName').errors?.required">Name is required</mat-error>
                    <mat-error
                        *ngIf="profileForm.get('companyName').errors?.minlength || profileForm.get('companyName').errors?.maxlength">
                        Company name must be greater than 3 characters and less than 55 characters</mat-error>
                </mat-form-field>
                <!-- Company description -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Company Description</mat-label>
                    <input type="text" matInput formControlName="companyDescription">
                </mat-form-field>
                <!-- CIF -->
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>CIF</mat-label>
                    <input type="text" matInput formControlName="cif">
                </mat-form-field>
            </div>
            <!-- User name -->
            <mat-form-field [style.width.vw]=80 appearance="fill">
                <mat-label>User Name</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error *ngIf="profileForm.get('name').errors?.required">Name is required</mat-error>
                <mat-error
                    *ngIf="profileForm.get('name').errors?.minlength || profileForm.get('name').errors?.maxlength">User
                    name must be greater than 3 characters and less than 55 characters</mat-error>
                <mat-error *ngIf="profileForm.get('name').errors?.pattern">Invalid character</mat-error>
            </mat-form-field>
            <!-- Surname -->
            <mat-form-field [style.width.vw]=80 appearance="fill">
                <mat-label>Surname</mat-label>
                <input matInput type="text" formControlName="surname">
                <mat-error
                    *ngIf="profileForm.get('surname').errors?.minlength || profileForm.get('surname').errors?.maxlength">
                    User surname must be greater than 3 characters and less than 55 characters</mat-error>
                <mat-error *ngIf="profileForm.get('surname').errors?.pattern">Invalid character</mat-error>
            </mat-form-field>
            <!-- Birth date-->
            <mat-form-field [style.width.vw]=80 appearance="fill">
                <mat-label>Birth Date</mat-label>
                <input type="text" matInput formControlName="birthDate">
                <mat-error *ngIf="profileForm.get('birthDate').errors?.errorFormatDate">Invalid format date</mat-error>
            </mat-form-field>
            <!-- Phone -->
            <mat-form-field [style.width.vw]=80 appearance="fill">
                <mat-label>Phone</mat-label>
                <input type="number" matInput formControlName="phone">
            </mat-form-field>
            <!-- Nacionality -->
            <mat-form-field [style.width.vw]=80 appearance="fill">
                <mat-label>Language: </mat-label>
                <mat-select formControlName="nationality">
                    <mat-option [value]="null">Select nationality...</mat-option>
                    <mat-option *ngFor="let nationality of eUserNationalities | keyvalue " [value]="nationality.value">
                        {{nationality.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- NIF -->
            <mat-form-field [style.width.vw]=80 appearance="fill">
                <mat-label>NIF</mat-label>
                <input type="text" matInput formControlName="nif">
                <!-- <mat-error *ngIf="profileForm.get('nif').errors?.errorNIF">Wrong NIF</mat-error> -->
            </mat-form-field>
            <!-- <mat-error *ngIf="profileForm.errors?.errorNIF">Wrong NIF</mat-error> -->
            <!-- Check NIF -->
            <!-- <span style="color: red;" *ngIf="profileForm.errors">
            <span *ngIf="profileForm.errors?.errorNIF">Wrong NIF</span>
        </span>   -->

            <!--<mat-error *ngIf="profileForm.get('surname').errors?-->
            <!-- About me -->
            <mat-form-field [style.width.vw]=80 appearance="fill">
                <mat-label>About me</mat-label>
                <textarea formControlName="aboutMe" matInput></textarea>
            </mat-form-field>
            <!-- UPDATE BUTTON -->
            <button class="btn btn-primary my-4 float-left" type="submit" [disabled]="!profileForm.valid">UPDATE PROFILE
                INFORMATION</button>
        </div>
    </form>
    <form class="text-center border border-light p-5">
        <br>
        <h5 class="float-left">EDUCATION</h5>
        <br>
        <hr style="border-top: 1px solid blue;" />
        <ul class="list-group">
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:blue;color: #fff;">
                        <th>Type</th>
                        <th>Level</th>
                        <th>Name</th>
                        <th>University</th>
                        <th>Finish date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let education of user.educations">
                        <th>{{ education.type }}</th>
                        <th>{{ education.level }}</th>
                        <td>{{ education.name }}</td>
                        <td>{{ education.university }}</td>
                        <td>{{ education.finish }}</td>
                        <td>
                            <button class="btn btn-outline-info"
                                [routerLink]="['/profile-education', education.uid]">Edit</button>
                            <button class="btn btn-outline-danger"
                                (click)="onClickDeleteEducation(education.uid)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-outline-primary float-left" [routerLink]="['/profile-education']">Add</button>
        </ul>
    </form>
    <form class="text-center border border-light p-5">
        <br>
        <h5 class="float-left">LANGUAGES</h5>
        <br>
        <hr style="border-top: 1px solid blue;" />
        <ul class="list-group">
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:blue;color: #fff;">
                        <th>Level</th>
                        <th>Language</th>
                        <th>Finish date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let language of user.languages">
                        <th>{{ language.level }}</th>
                        <td>{{ language.language }}</td>
                        <td>{{ language.finish }}</td>
                        <td>
                            <button class="btn btn-outline-info"
                                [routerLink]="['/profile-language', language.uid]">Edit</button>
                            <button class="btn btn-outline-danger"
                                (click)="onClickDeleteLanguage(language.uid)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-outline-primary float-left" [routerLink]="['/profile-language']">Add</button>
        </ul>
    </form>
</div>