<div class="container">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px grid" class="text-center border border-light p-5" [formGroup]="loginForm"
        (ngSubmit)="checkLogin()">
        <div>
            <div class="email">
                <mat-form-field [style.width.vw]=50 appearance="fill">
                    <mat-label>Enter your mail</mat-label>
                    <input type="email" [formControl]="email" matInput placeholder="User E-mail">
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="password">
                <mat-form-field [style.width.vw]=50 appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input type="password" [formControl]="password" matInput [type]="hide ? 'password' : 'text'"
                        placeholder="User Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.invalid">
                        {{ getErrorMessage() }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="button">
                <button class="btn btn-primary my-4" type="submit" [disabled]="!loginForm.valid">Sign in</button>
            </div>
        </div>
    </form>
</div>