<div class="container">
    <form  class="border border-light p-5" [formGroup]="rForm" (submit)="submit()">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px" class="form-group">
            <div>
                <mat-form-field  [style.width.vw]=80 appearance="fill">
                    <mat-label>Category: </mat-label>
                    <mat-select (selectionChange)="onChangeCategoryValue()" formControlName="category">
                        <mat-option [value]="null">Select category...</mat-option>
                        <mat-option *ngFor="let category of eActivityCategories | keyvalue " [value]="category.value">
                            {{category.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('category').errors?.required">
                        Category is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field  [style.width.vw]=80 appearance="fill">
                    <mat-label>Subcategory: </mat-label>
                    <mat-select  formControlName="subcategory">
                        <mat-option [value]="null">Select subcategory...</mat-option>
                        <mat-option *ngFor="let subcategory of eSubcategory | keyvalue " [value]="subcategory.value">
                            {{subcategory.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('subcategory').errors?.required">
                        Subcategory is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div >
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Name:</mat-label>
                    <input type="text" matInput formControlName="name"/>
                    <mat-error
                        *ngIf="rForm.get('name').errors && (rForm.get('name').touched || rForm.get('name').dirty)">
                        Please enter a valid name
                    </mat-error>
                    <mat-error *ngIf="rForm.get('name').errors?.required">
                        name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Description:</mat-label>
                    <input type="text" matInput formControlName="description"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Language: </mat-label>
                    <mat-select  formControlName="language">
                        <mat-option [value]="null">Select language...</mat-option>
                        <mat-option *ngFor="let language of eActivityLenguages | keyvalue " [value]="language.value">
                            {{language.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('language').errors && (rForm.get('language').touched || rForm.get('language').dirty)">
                        language is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
            <mat-form-field [style.width.vw]=80 appearance="fill">
                <mat-label>Date:</mat-label>
                <input type="text" matInput formControlName="date">                
                <mat-error *ngIf="rForm.get('date').errors?.errorFormatDate">Invalid format date</mat-error>
            </mat-form-field>
            </div>
            <div>
                <mat-form-field  [style.width.vw]=80 appearance="fill">
                    <mat-label>Price:</mat-label>
                    <input type="text" matInput formControlName="price" />
                    <mat-error *ngIf="rForm.get('price').errors?.errorLessZero">  
                        Price must be greater than zero
                    </mat-error>
                    <mat-error *ngIf="rForm.get('price').errors?.required">
                        price is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>Minium Capacity:</mat-label>
                    <input type="text" matInput formControlName="miniumCapacity"/>
                    <mat-error *ngIf="rForm.get('miniumCapacity').errors?.errorLessZero">
                        Minium Capacity must be greater than zero
                    </mat-error>
                    <mat-error *ngIf="rForm.get('miniumCapacity').errors?.required">
                        Minium Capacity is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [style.width.vw]=80 appearance="fill">
                    <mat-label>State: </mat-label>
                    <mat-select  formControlName="subcategory">
                        <mat-option [value]="null">Select subcategory...</mat-option>
                        <mat-option *ngFor="let state of eActivityStates | keyvalue" [value]="state.value">
                            {{state.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="rForm.get('state').errors?.required">
                        State is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div> 
            <div> 
            <button  [style.width.vw]=40  class="btn btn-primary" type="submit" [disabled]="rForm.invalid">Save</button>
            </div>
        </div>
    </form>
</div>